{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 align="center">Здесь будет находится подробная карта товара. Пока такая</h1>
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 col-sm-6">
                <div class="product-card">
                    <div class="product-thumb">
                        {% if product.image %}
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a>
                        {% else %}
                            <a href="{{ product.get_absolute_url }}"><img src="#" alt=""></a>
                        {% endif %}
                    </div>
                    <div class="product-details">
                        <h4><a href="#"></a>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>{{ product.price }}₽</small> {{ product.price }}₽
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Продавец: <a href="#">{{ product.seller.username|default:"None"}}</a></p>
</section>
{% endblock %}