html {
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 50px 0;
}
a {
    color: #111;
}
a:hover {
    color: #555;
}
/* Header */
.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
}
.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after {
    transform: scale(1);
}
.btn .fa {
    color: #84AFFA;
}
.btn.btn-outline-success {
    border-color: #84AFFA;
}
.btn.btn-outline-success:hover {
    background-color: blue;
}
/* Header */

/* catalog */
.cats li a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s;
}
.cats li a:hover {
    color: blue;
    font-size: 20px;
    transition: all .3s;
}

.highlighted {
  color: blue;
  font-size: 20px;
  border: 1px solid #84AFFA; /* Граница вокруг выбранного элемента */
  background-color: #e3f2fd; /* Цвет фона для подсветки */
  padding: 5px; /* Отступы внутри элемента */
  border-radius: 7px; /* Закругление углов */
}
/* catalog */

/* footer */
.footer {
    background-color: #F5F5F5;
}
.footer h4 {
    color: black;
    text-transform:uppercase;
    font-size: 16px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
.footer a {
    text-decoration: none;
    transition: all .3s;
}
.footer a:hover {
    color: blue;
    text-decoration: underline;
}
.footer a, .footer.li {
    color: #A8A8A8;
}
.footer li a {
    display: block;
}
/* footer */

/* footer.icons */
.footer-icons .vk {
  color: gray;
}
.footer-icons .vk:hover {
  color: #3b5998;
}
.footer-icons .telegram {
  color: gray;
}
.footer-icons .telegram:hover {
  color: #1da1f2;
}
.footer-icons .instagram {
  color: gray;
}
.footer-icons .instagram:hover {
  color: #c32aa3;
}
.footer-icons .github {
  color: gray;
}
.footer-icons .github:hover {
  color: black;
}
.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
/* footer.icons */